# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Novoseleznevo,RU,55.6821,69.2056,41.92,85,72,7.29,broken clouds
1,1,Dalby,AU,-27.1833,151.2667,61.99,84,64,1.01,broken clouds
2,2,Pagsangahan,PH,13.2158,122.5431,82.78,79,86,18.70,overcast clouds
3,3,Chokurdakh,RU,70.6333,147.9167,13.01,86,99,10.40,overcast clouds
4,4,Guerrero Negro,MX,27.9769,-114.0611,73.29,55,86,10.47,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Pagsangahan,PH,13.2158,122.5431,82.78,79,86,18.70,overcast clouds
4,4,Guerrero Negro,MX,27.9769,-114.0611,73.29,55,86,10.47,overcast clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,81.18,69,96,11.59,overcast clouds
10,10,Butaritari,KI,3.0707,172.7902,81.37,70,100,17.92,overcast clouds
13,13,Arraial Do Cabo,BR,-22.9661,-42.0278,75.06,69,75,23.02,moderate rain
17,17,Kapaa,US,22.0752,-159.3190,77.32,86,100,9.22,overcast clouds
21,21,Quelimane,MZ,-17.8786,36.8883,75.92,77,0,7.83,clear sky
27,27,Koumac,NC,-20.5667,164.2833,70.20,75,18,3.65,few clouds
29,29,Georgetown,MY,5.4112,100.3354,78.89,91,20,0.00,few clouds
35,35,Atuona,PF,-9.8000,-139.0333,76.19,72,5,12.37,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Pagsangahan,PH,13.2158,122.5431,82.78,79,86,18.70,overcast clouds
4,4,Guerrero Negro,MX,27.9769,-114.0611,73.29,55,86,10.47,overcast clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,81.18,69,96,11.59,overcast clouds
10,10,Butaritari,KI,3.0707,172.7902,81.37,70,100,17.92,overcast clouds
13,13,Arraial Do Cabo,BR,-22.9661,-42.0278,75.06,69,75,23.02,moderate rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
2       Pagsangahan      PH     82.78     overcast clouds  13.2158  122.5431
4    Guerrero Negro      MX     73.29     overcast clouds  27.9769 -114.0611
9         Hithadhoo      MV     81.18     overcast clouds  -0.6000   73.0833
10       Butaritari      KI     81.37     overcast clouds   3.0707  172.7902
13  Arraial Do Cabo      BR     75.06       moderate rain -22.9661  -42.0278
17            Kapaa      US     77.32     overcast clouds  22.0752 -159.3190
21        Quelimane      MZ     75.92           clear sky -17.8786   36.8883
27           Koumac      NC     70.20          few clouds -20.5667  164.2833
29       Georgetown      MY     78.89          few clouds   5.4112  100.3354
35           Atuona      PF     76.19           clear sky  -9.8000 -139.0333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [10]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Pagsangahan,PH,82.78,overcast clouds,13.2158,122.5431,
4,Guerrero Negro,MX,73.29,overcast clouds,27.9769,-114.0611,
9,Hithadhoo,MV,81.18,overcast clouds,-0.6000,73.0833,
10,Butaritari,KI,81.37,overcast clouds,3.0707,172.7902,
13,Arraial Do Cabo,BR,75.06,moderate rain,-22.9661,-42.0278,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Pagsangahan,PH,82.78,overcast clouds,13.2158,122.5431,
4,Guerrero Negro,MX,73.29,overcast clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
9,Hithadhoo,MV,81.18,overcast clouds,-0.6000,73.0833,Scoop Guest House
10,Butaritari,KI,81.37,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
13,Arraial Do Cabo,BR,75.06,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
17,Kapaa,US,77.32,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Quelimane,MZ,75.92,clear sky,-17.8786,36.8883,Hotel Flamingo
27,Koumac,NC,70.20,few clouds,-20.5667,164.2833,Le Monitel
29,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
35,Atuona,PF,76.19,clear sky,-9.8000,-139.0333,Villa Enata

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [21]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Pagsangahan,PH,82.78,overcast clouds,13.2158,122.5431,
4,Guerrero Negro,MX,73.29,overcast clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
9,Hithadhoo,MV,81.18,overcast clouds,-0.6000,73.0833,Scoop Guest House
10,Butaritari,KI,81.37,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
13,Arraial Do Cabo,BR,75.06,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
17,Kapaa,US,77.32,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Quelimane,MZ,75.92,clear sky,-17.8786,36.8883,Hotel Flamingo
27,Koumac,NC,70.20,few clouds,-20.5667,164.2833,Le Monitel
29,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
35,Atuona,PF,76.19,clear sky,-9.8000,-139.0333,Villa Enata

In [22]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Pagsangahan,PH,82.78,overcast clouds,13.2158,122.5431,
4,Guerrero Negro,MX,73.29,overcast clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
9,Hithadhoo,MV,81.18,overcast clouds,-0.6000,73.0833,Scoop Guest House
10,Butaritari,KI,81.37,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
13,Arraial Do Cabo,BR,75.06,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
17,Kapaa,US,77.32,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Quelimane,MZ,75.92,clear sky,-17.8786,36.8883,Hotel Flamingo
27,Koumac,NC,70.20,few clouds,-20.5667,164.2833,Le Monitel
29,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
35,Atuona,PF,76.19,clear sky,-9.8000,-139.0333,Villa Enata

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [23]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [24]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [25]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Pagsangahan</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Laguna, Bed & Breakfast</dd>\n<dt>City</dt><dd>Guerrero Negro</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Flamingo</dd>\n<dt>City</dt><dd>Quelimane</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Monitel</dd>\n<dt>City</dt><dd>Koumac</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>few clouds and 70.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.19 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [26]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   13.2158  122.5431
4   27.9769 -114.0611
9   -0.6000   73.0833
10   3.0707  172.7902
13 -22.9661  -42.0278
17  22.0752 -159.3190
21 -17.8786   36.8883
27 -20.5667  164.2833
29   5.4112  100.3354
35  -9.8000 -139.0333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [27]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))